@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}
#f{
    /* background-color: hsl(216, 12%, 8%); */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#ff{
    background-color: hsl(213, 19%, 18%);
    width: 325px;
    height: 300px;
    border-radius: 15px;
    padding: 25px;
}
#fff{
    background-color: hsl(0, 0%, 2%);
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
#fff img{
    width: 20px;
}
#ffs{
    color: hsl(0, 0%, 100%);
    margin-bottom: 15px;
}
#ff4{
    color: hsl(217, 12%, 63%);
    font-size: 13px;
    margin-bottom: 20px;

}
#ff5{
    display: flex;
    font-weight: 900;
    
}
#ff5 p{
    background-color: hsl(0, 0%, 2%);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    border-radius: 20px;
    color:hsl(217, 12%, 63%) ;
    margin-bottom: 40px;
    cursor: pointer;
}
#btn{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    font-size: 20px;
    text-decoration: none;
}


/* thanks page */

#s1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
#ss2{
    background-color: hsl(214, 11%, 26%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 30px;
    border-radius: 15px;
    color: hsl(25, 97%, 53%);
}
#ss2 p{
    margin-right: 5px;
}
#s2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
#s3{
    color: white;
    font-weight: 500;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#s4{
    color: hsl(216, 12%, 54%);
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}

